/webapp/database.db
venv/   
env/
/webapp/__pycache__
/__pycache__
/tempCodeRunnerFile.py
/__pycache__
webapp/__pycache__/auth.cpython-39.pyc
webapp/__pycache__/models.cpython-39.pyc
webapp/__pycache__/views.cpython-39.pyc
*.pyc
