{% extends "retailer_base.html" %} 
{% block content%}

<div class="container">
  <div class="card product-card">
    <section class="product-body row">
      <div class="col-md-5">
       <div class="col-md-6">
         <img class="head-img" src="{{ url_for('static', filename='products/' + product.product_image)}}" style="max-width:200px !important" alt="" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="product-title">
          <h1>{{product.product_name}}</h1>
          <span class="price">{{"£"}}{{'%0.2f'| format(product.price|float)}}</span>
        </div>
        <span class="product-cat">Dior Essentials</span>
        <span class="product-sku">Product id: 11002cc</span>
        <p class="desc"><strong>Description</strong>
          <br /> {{product.description}}
        </p>
        <!-- <p class="desc"><strong>Colour Options</strong></p> -->
        <div class="buttons">
          <div class="row button-container">
            <div class="col-md-8">
              <a target="_blank" class="bton " onclick='addToCart({{product.id}})' id="cart-btn" style="background-color: #212121; color: white !important;">Add to Cart <span class="lnr lnr-cart"></span></a>
            </div>
            <div class="col-md-4">
              <a target="_blank" href="" class="bton " id="like-btn" style="background-color: white; color: #212121;"><span class="lnr lnr-heart"></span></a>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
  </div>
</div>
{% endblock %}