{% extends "retailer_base.html" %} 
{% block content%}

<div class="container">
  <div class="card product-card">
    <section class="product-body row">
      <div class="col-md-5">
       <div class="col-md-6"><img class="head-img" src="/static/images/bag2.png" style="max-width:200px !important" alt="" /></div>
      </div>
      <div class="col-md-7">
        <div class="product-title">
          <h1>Gamora Bag</h1>
          <span class="price">£388.72</span>
        </div>
        <span class="product-cat">Dior Essentials</span>
        <span class="product-sku">Product id: 11002cc</span>
        <p class="desc"><strong>Description</strong><br>100% pure 2 ply cotton: super 100's/2 both ways; traditional making loose-lining collar/cuffs; first choice mother-of-peral buttons; regular fit; classic collar; single cuff.</p>
        <!-- <p class="desc"><strong>Colour Options</strong></p> -->
        <div class="buttons">
          <div class="row button-container">
            <div class="col-md-8">
              <a target="_blank" href="" class="bton " id="cart-btn" style="background-color: #212121; color: white !important;">Add to Cart <span class="lnr lnr-cart"></span></a>
            </div>
            <div class="col-md-4">
              <a target="_blank" href="" class="bton " id="like-btn" style="background-color: white; color: #212121;"><span class="lnr lnr-heart"></span></a>
           
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
  </div>
</div>
 
    
  

{% endblock %}