{% extends "base.html" %}

{% block title %} 
Login 
{% endblock %}

{% block content %}

<h1> Retailer login Page </h1>

<form action ="" method = "POST" ,novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.Email.label }}<br>
        {{ form.Email(size=32) }}
        {% for error in form.Email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.Password.label }}<br>
        {{ form.Password(size=32) }}
        {% for error in form.Password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>

    <br />
    <p>{{ form.submit() }}</p>




</form>
{% endblock %}
