{% extends "retailer_base.html" %} 
{% block content%}
       
        
            <section id="head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"><img class="head-img" src="/static/images/bag2.png" style="max-height:292.5px !important" alt="" /></div>
                        <div class="col-md-6 head-text">
                            <h6 style="font-family: lato !important; " >BEST QUALITY BAGS</h6>
                            <h1 style="font-family: lora !important; font-size: 70px !important;">Shop from Luxury!</h1>
                            <p style="font-family: lato !important;" >Buy the hottest and trendiest bags at amazing prices.</p>
                            <button class="my-btn btn" ><i class="fas fa-cart-arrow-down"></i> Shop Now</button>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- <section id="shiping">
                <div class="container">
                    <div class="row">
                        Trending Products
                    </div>
                </div>
            </section> -->
        
            <section id="Best-selling">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h6 style="text-align: center !important; align-items: center !important; font-family: lato !important; font-size: 14px !important; ">Trending products</h6>
                                <h1 style="text-align: center !important; align-items: center !important; font-family: lora !important; font-size: 25px !important; ">Best Selling Products</h1>
                                <h6 style="text-align: center !important; align-items: center !important; font-family: lato !important; font-size: 14px !important; ">Check out our latest trends</h6>
                           
                            </div>
                        </div>
                    </div>
                      
                        <div class="row">
                            {% for i in [1,2,3,4] %}
                            <div class="col-md-3">
                                <div class="product">
                                    <div class="card">
                                        <div class="top-bar">
                                            <span class="float-right lnr lnr-heart"></span>
                                        </div>
                                        <div class="card-content">
                                           
                                            <div class="product-img">
                                                <img src="/static/images/dior.png" alt="" style="height: 200px !important;" />
                                            </div>
                                        </div>
                                        <div class="card-description">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="title">
                                                        <h6>Amelia Bag</h6>
                                                        <p>{{"£"}}{{'%0.2f'| format(32.4|float)}}</p>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="cart">
                                                        <span class="lnr lnr-cart"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <span>hand bag</span>
                                            <span>dior</span>
                                            <span>blue bag</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    
                            {% endfor %}
                         
                        </div>
                    <!-- </div> -->
                </div>
            </section>
            <section id="Best-selling">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h6 style="text-align: center !important; align-items: center !important; font-family: lato !important; font-size: 14px !important; ">View Catalogue</h6>
                                <h1 style="text-align: center !important; align-items: center !important; font-family: lora !important; font-size: 25px !important; ">Our Products</h1>
                                <h6 style="text-align: center !important; align-items: center !important; font-family: lato !important; font-size: 14px !important; ">Shop the finest and best bags on the market</h6>
                           
                            </div>
                        </div>
                        <div class="row">
                            {% for prod in products %}
                            <div class="col-md-3">
                                <div class="product">
                                    <a  href="{{ url_for('views.product_detail', product_id = prod.id )}}" >
                                        <div class="card">
                                          <a href="ss.html">  <div class="top-bar">
                                                <span class="float-right lnr lnr-heart"></span>
                                            </div>
                                        </a>
                                            <div class="card-content">
                                                <div class="product-img">
                                                    <img src="{{ url_for('static', filename='products/' + prod.product_image)}}" alt="" style="height: 200px !important;" />
                                                </div>
                                            </div>
                                            <div class="card-description">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="title">
                                                            <h6>{{prod.product_name}}</h6>
                                                            <p>{{"£"}}{{'%0.2f'| format(32.4|float)}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a onclick='addToCart({{prod.id}})'>
                                                                                <div class="cart">                        
                                                            <span class="lnr lnr-cart"> </span>
                                                        </div></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <span>hand bag</span>
                                                <span>dior</span>
                                                <span>blue bag</span>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                            {% endfor %}
                         
                        </div>
                       
                    </div>
                </div>
            </section>
        
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>Haydes Bags</h5>
                                </div>
                                <div class="footer-desc">
                                    <p>Luxury at its finest</p>
                                </div>
                                <div class="app-img">
                                    <div class="app-store"><a href="#"><img src="images/play-store.png" alt="" /></a></div>
                                    <div class="app-store"><a href="#"><img src="images/app-store.png" alt="" /></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>Contact Us</h5>
                                    
                                </div>
                                <div class="footer-desc">
                                    <p>Facebook:
                                    </br>
                                    Twitter:
                                </br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>Quick Links</h5>
                                </div>
                                <div class="footer-desc">
                                    <ul>
                                        <li><a href="#">Let's Connect</a></li>
                                        <li><a href="#">Locate Store</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-box">
                                <div class="footer-title">
                                    <h5>Sites Links</h5>
                                </div>
                                <div class="footer-desc">
                                    <ul>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/e05090259d.js" crossorigin="anonymous"></script>
            
        </body>
        
        {%endblock%}