{% extends "retailer_base.html" %}

{% block title %} 
Profile
{% endblock %}

{% block content %}
<div class="card mb-3">

    <div class="card-body">
        <form action ="" method = "POST" >
            {{ linkform.hidden_tag() }}
            <div class="form-group">
                <h5 class="card-title">Add product by Amazon Link</h5>
                {{ linkform.amazon_link.label(class="form-label") }}
              
                {{ linkform.amazon_link(class="form-control" ) }}
                {% for error in linkform.amazon_link.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>
                 <div align = 'center' >

                {{ linkform.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</div>

  <div class="card">
    <div class="card-body">
        <form action ="" method = "POST" enctype="multipart/form-data" >
            {{ manualform.hidden_tag() }}
            <div class="form-group">
                <h5 class="card-title">Add product</h5>
                <br/>
                {{  manualform.product_name.label(class="form-label") }}
              
                {{ manualform.product_name(class="form-control", placeholder="Silk Socks") }}
                {% for error in linkform.amazon_link.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>

                {{  manualform.price.label(class="form-label") }}
                {{ manualform.price(class="form-control" ,placeholder="#50") }}
                {% for error in manualform.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>

                {{  manualform.ansii.label(class="form-label") }}
                {{ manualform.ansii(class="form-control",placeholder="+3fnv3b4n" ) }}
                {% for error in manualform.ansii.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>

                {{  manualform.product_link.label(class="form-label") }}
                {{ manualform.product_link(class="form-control" ) }}
                {% for error in manualform.product_link.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>

                {{  manualform.number_available.label(class="form-label") }}
                {{ manualform.number_available(class="form-control" ,placeholder="3") }}
                {% for error in manualform.number_available.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>

                {{  manualform.product_description.label(class="form-label") }}
                {{ manualform.product_description(class="form-control",placeholder="Crispy feeling socks top premium quality desgned to make the life of your shoe and you very pleasant" ) }}
                {% for error in manualform.product_description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br/>

                {{  manualform.upload.label(class="form-label") }}
                {{ manualform.upload(class="form-control" ) }}
                {% for error in manualform.upload.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <br/>

                 <div align = 'center' >
                {{ manualform.submit(class="btn btn-primary") }}
                </div>

            </div>
        </form>
    </div>
   
  </div>
{% endblock %}
