{% extends "base.html" %}

{% block title %} 
Login 
{% endblock %}

{% block content %}

<h1 align ="center"> Sign Up Reatiler </h1>
<br/>

<form action ="action-url" method = "POST"  enctype="multipart/form-data" >
    

    {{ form.hidden_tag() }}
    <div class="form-group">
       
        {{ form.store_name.label(class="form-label") }}
      
        {{ form.store_name(class="form-control" ) }}
        {% for error in form.store_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      
    </div>
    <br/>
    <div  class="form-group">
        {{ form.store_description.label(class="form-label") }}<br>
        {{ form.store_description(class="form-control") }}
        {% for error in form.store_description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <br/>
    <div >
        {{ form.upload.label(class="form-label")}}
        {{ form.upload(class="form-control") }}
        {% for error in form.upload.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <br/>
    <div align = 'center'>
    {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}
